.edit {
  width: 100%;
  height: 100%;
  flex-direction: row;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__empty {
    font-size: 24px;
    text-align: center;
    color: rgb(129, 129, 129);

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .keep {
      min-width: 30%;
      height: 500px;

      .todo {
        margin-bottom: 12px;
      }
    }
  }

  &__form {
    margin-left: 48px;
    width: 20%;
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:hover {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &__save,
  &__delete,
  &__close {
    color: #f5f5f4;
  }

  &__save {
    background-color: #28a745;

    &:hover {
      background-color: #218838;
    }
  }

  &__decline {
    background-color: #f8f9fa;

    &:hover {
      background-color: #e2e6ea;
    }
  }

  &__delete {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }

  &__close {
    background-color: #007bff;

    &:hover {
      background-color: #007bff;
    }
  }
}
